[submodule "Balau"]
	path = Balau
	url = ../repo.git/Balau
[submodule "wxwidget"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "capstone"]
	path = capstone
	url = https://github.com/yaz0r/capstone
[submodule "llvm"]
	path = llvm
	url = https://github.com/pixelxeno/llvm.git
