[submodule "Balau"]
	path = Balau
	url = ../Balau.git
	branch = master
[submodule "wxwidget"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "llvm"]
	path = llvm
	url = ../llvm.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
