[submodule "Balau"]
	path = Balau
	url = ../repo.git/Balau
[submodule "wxwidget"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "capstone"]
	path = capstone
	url = https://github.com/yaz0r/capstone
[submodule "data/web-ui/static/js/srp-client"]
	path = data/web-ui/static/js/srp-client
	url = https://github.com/symeapp/srp-client.git
